.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus { box-shadow: none; }
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-weight: normal;
    font-size: 1.25em;
}
.p-tabview .p-tabview-panels {
    background: $surface-10;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border:$surface-20-border;
    border-color: transparent transparent $surface-20-border-color transparent;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent;
    color: $text-color;
}
.p-tabview.inner .p-tabview-panel {
    padding: 10px 0;
}
.p-tabview.inner .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: transparent;
    color: $text-color;
    border-color: $primary-color;
}
.p-tabview.inner .p-tabview-nav {
    background: transparent;
    border: $surface-10-border;
    border-width: 0 0 2px 0;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent;
    border-color: $primary-color;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid $surface-10-border-color;
    border-width: 0 0 2px 0;    
    background: transparent;
    color: $text-color;
    padding: 1rem;
    font-weight: 600;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.3s;
    margin: 0 0 -2px 0;
}
.p-tabview.card {
    // margin: 0px 15px 0;
    > .p-tabview-nav-container {
        > .p-tabview-nav-content {
            > .p-tabview-nav {
                    border: 0;
                    .p-tabview-title {
                        font-weight: 600;
                        font-size: 1.1em;
                    }
            }
        }
    }    
}
.p-tabview.card.outer {
    z-index:999;
    position: relative;
    margin: 7.5px 10px 10px 10px;
    border: $border;
    .p-tabview-panels {
        padding: 0;
        border-radius: $border-radius;        
    }    
}
.p-tabview.data-view.card,
.p-tabview.carousel-view.card {    
    .p-tabview-panels {
        padding: 5px;
    }
}
.p-tabview.data-view.card {
    .p-dataview {
        .p-dataview-content {
            // height: 79vh;
        }
        .p-paginator {
            padding: 5px 10px;
        }
    }
}
.p-tabview.inner{
    .p-tabview-selected, .p-unselectable-text:hover {
        border-bottom:1px solid $primary-color;
    }
}
